[Desktop Entry]
Name=Visual Studio Code - URL Handler
Comment=Handle URL Scheme vscode://
GenericName=Text Editor
Exec=vscode-url-handler %u
Icon=code
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscode
Keywords=vscode;
X-Desktop-File-Install-Version=0.23