[Desktop Entry]
Name=Atom - URL Handler
Comment=Handle URL Scheme atm:// and atom://
GenericName=Text Editor
Exec=atom-url-handler %u
Icon=atom
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=x-scheme-handler/atm;x-scheme-handler/atom
X-Desktop-File-Install-Version=0.22